[Desktop Entry]
Version=1.0
Type=Application
Name=EndeavourOS Log Tool
Comment=collect and share system logs
Exec=/usr/bin/eos-log-tool
Icon=hwinfo
Path=
Terminal=false
StartupNotify=false
