[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Keywords=welcome;calamares;system;installer
TryExec=eos-welcome
Exec=/usr/bin/eos-welcome
Comment=install EndeavourOS to disk
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
X-XFCE-Source=file:///usr/share/applications/welcome.desktop
